:root {
  --font-family: "Merriweather", "SourceSansPro", sans-serif;
  --content-width: 1612px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --very-dark-gray:#333333;
  --dark-gray:#2D2D2D;
  --light-gray:#E2E2E2;
  --light-color: #fff;
  --bg-color:#E5E5E5;
  --dark-color: #000;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/../fonts/SourceSansPro-Regular.woff2.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/../fonts/SourceSansPro-Black.woff2.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: bold;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/../fonts/Merriweather-Regular.woff2.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/../fonts/Merriweather-Bold.woff2.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.burger {
  --burger-width: 16px;
  --burger-height: 13px;
  --burger-line-height: 2px;
  display: none;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: transparent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media (max-width: 1440px) {
  .header__logo {
    margin-right: 20px !important;
  }
  .nav__btn {
    margin-left: 20px !important;
  }
  .nav__item:not(:last-child) {
    margin-right: 15px !important;
  }
  .hero__container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .hero__left {
    display: none;
  }
  .hero__right-img {
    display: none;
  }
  .hero__title-box {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .structure__container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .structure__left {
    display: none !important;
  }
  .banner__container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .history__container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .history__left {
    display: none;
  }
  .fclub__container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .fclub__left {
    display: none;
  }
  .fclub__item {
    font-size: 16px !important;
  }
  .about__left {
    display: none;
  }
  .about__container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .about__percent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
  }
  .fedback__left {
    display: none;
  }
  .fedback__container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .footer__left {
    display: none;
  }
  .footer__container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 1200px) {
  .fedback__slider {
    width: 800px !important;
  }
}
@media (max-width: 1024px) {
  .stop-scroll {
    overflow: hidden;
  }
  .burger {
    display: block;
  }
  .nav {
    position: fixed;
    border-radius: 4px;
    right: 0;
    top: 48px;
    z-index: 10;
    width: 40%;
    max-width: 260px;
    overflow: auto;
    background-color: var(--dark-color);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  .nav__visible {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .nav__btn-header {
    display: none;
  }
  .header__btn-hidden {
    display: block !important;
  }
  .nav__item-header {
    padding-bottom: 30px;
  }
  .nav__btn-header {
    display: none !important;
  }
  .footer__nav {
    display: block !important;
  }
  .fclub__title {
    padding: 30px 10px !important;
    font-size: 22px;
    line-height: 32px;
  }
  .fclub__img {
    display: none;
  }
  .fclub__list {
    display: block !important;
    background-image: none !important;
    list-style: disc inside !important;
  }
  .fclub__item {
    margin: 0 !important;
    text-align: left !important;
    max-width: none !important;
    padding: 0px 10px 10px 10px !important;
  }
  .fclub__item::before {
    display: none;
  }
  .fclub__btn {
    top: 126px !important;
    margin-left: -10% !important;
  }
  .fclub__right {
    padding-bottom: 180px !important;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0;
  }
  .hero {
    padding-top: 0 !important;
  }
  .hero__right-content {
    display: block !important;
  }
  .hero__btn {
    margin-left: 30% !important;
  }
  .history__img-box {
    display: none;
  }
  .histiry__yers-box {
    display: none;
  }
  .history__descr-box {
    display: none;
  }
  .history__box-hidden {
    display: block !important;
  }
  .history__title {
    padding: 32px 10px !important;
    font-size: 22px !important;
    line-height: 32px !important;
  }
}
@media (max-width: 768px) {
  .banner__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .banner__descr {
    padding: 30px 45px 57px 45px !important;
  }
  .about__title {
    font-size: 22px !important;
    padding: 30px 10px 25px 10px !important;
  }
  .about__percent {
    margin-bottom: 40px !important;
    border-bottom: 1px solid #949597;
  }
  .about__item {
    font-size: 44px !important;
    margin-bottom: 70px !important;
    padding: 0px 10px 16px 10px !important;
  }
  .about__item span {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  .about__item-blue {
    font-size: 40px !important;
    line-height: 44px !important;
    margin-bottom: 70px !important;
  }
  .about__item-blue span {
    font-size: 12px !important;
    padding: 0 10px;
    line-height: 15px !important;
  }
  .about__item {
    padding: 0 !important;
    padding-left: 10px !important;
  }
  .about__cercle {
    margin-right: 10px !important;
  }
  .about__cercle-item {
    width: 68px !important;
    height: 68px !important;
  }
  .about__cercle-item-center {
    width: 68px !important;
    height: 68px !important;
  }
  .about__bootom-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline !important;
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .about__bottom-descr {
    display: inline-block;
    line-height: 26px !important;
  }
  .about__bottom-item {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about__bottom-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about__bottom-item3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about__bottom-item4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about__bottom-img {
    padding: 0px 50px 50px 0px;
  }
  .about__btn {
    margin-left: 30% !important;
  }
  .fedback__slider {
    width: 420px !important;
  }
}
@media (max-width: 576px) {
  .hero__banner {
    min-height: 285px;
    padding: 12px 35px !important;
    margin-bottom: 44px;
  }
  .hero__banner-img {
    min-height: 270px;
  }
  .hero__title-box {
    padding: 0px 10px;
  }
  .hero__subtitle {
    margin-bottom: 39px !important;
  }
  .hero__right-content {
    padding: 0 !important;
  }
  .hero__title {
    font-size: 22px !important;
    padding: 0px !important;
  }
  .hero__subtitle {
    font-size: 22px !important;
    padding-left: 0 !important;
  }
  .main-news__post {
    font-size: 20px !important;
  }
  .main-news__digital {
    overflow: hidden !important;
  }
  .main-news__descr-title {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #949597 !important;
  }
  .main-news__digital-visible {
    display: none;
  }
  .main-news__digital-hidden {
    visibility: visible !important;
  }
  .main-news__article {
    margin-bottom: 23px;
    border-bottom: 1px solid #D9D9D9 !important;
  }
  .main-news__worlds {
    padding-bottom: 0px !important;
  }
  .structure__title {
    font-size: 22px;
    padding: 19px 10px 32px 10px !important;
  }
  .structure__subtitle {
    font-size: 16px;
    padding: 0px 10px 32px 10px !important;
  }
  .structure__subtitle-hidden {
    display: none;
  }
  .structure__descr {
    font-size: 16px;
    padding: 0px 10px 0px 10px !important;
  }
  .structure__list {
    font-size: 16px;
    padding: 0px 10px 32px 40px !important;
  }
  .fedback__img-box {
    width: 360px !important;
    height: 344px;
  }
  .fedback__slider {
    width: 360px !important;
  }
  .fedback__btn {
    display: none;
  }
  .fedback__banner {
    margin: 0;
    min-height: 285px;
    padding: 12px 35px !important;
    margin-bottom: 44px;
  }
}
.header {
  z-index: 100;
  width: 100%;
  background: var(--dark-color);
  padding: 12px;
  color: var(--light-color);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  margin-right: 179px;
}
.header__logo img {
  margin-right: -5px;
}
.header__btn-hidden {
  display: none;
  margin-left: auto;
  margin-right: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__list {
  margin: 0;
  padding: 0;
  padding: 20px;
}
.nav__item-header {
  margin-bottom: 20px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}
.nav__item:not(:last-child) {
  margin-right: 28px;
}
.nav__btn {
  border-radius: 4px;
  height: 32px;
  margin-left: 142px;
  padding: 4px 16px;
  background: #0082FF;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-color);
  cursor: pointer;
}

.swiper-wrapper {
  margin-bottom: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  margin-top: 55px;
  margin-left: 190px;
  right: 10px;
  bottom: 0;
  height: 10px;
  width: 6px;
  background-image: url("../img/svg/prev.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-next {
  margin-top: 55px;
  height: 10px;
  width: 6px;
  background-image: url("../img/svg/next.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-pagination-bullets {
  margin-left: -95px;
}

.swiper-pagination-bullet {
  background: #141024;
}

.hero {
  padding-top: 40px;
}
.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 296px 1fr;
  grid-template-columns: 296px 1fr;
}
.hero__banner {
  position: relative;
  width: 100%;
  padding: 24px 32px;
  background-color: var(--light-gray);
}
.hero__banner-img {
  min-height: 250px;
}
.hero__left {
  padding: 0px 16px;
}
.hero__right {
  background-color: #FCFCFC;
  padding-bottom: 87px;
}
.hero__title-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
}
.hero__right-img {
  position: relative;
  right: 20px;
  padding-top: 16px;
  max-height: 600px;
  min-width: 300px;
}
.hero__title {
  margin: 0;
  padding: 32px 0px 0px 32px;
  max-width: 840px;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: var(--dark-gray);
  margin-bottom: 61px;
}
.hero__subtitle {
  margin: 0;
  padding-left: 32px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2D2D2D;
  margin-bottom: 74px;
}
.hero__btn {
  border-radius: 4px;
  padding: 4px 16px;
  height: 32px;
  background: #0082FF;
  margin-left: 50%;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-color);
}
.hero .img__title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--light-color);
}
.hero__left-img {
  position: relative;
  padding: 32px 16px 32px 0px;
  background-color: var(--light-gray);
}
.hero__img-name {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--light-color);
}
.hero__right-content {
  padding: 0px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__main-news:not(:last-child) {
  margin-right: 33px;
}

.left-slider__title {
  margin: 0;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}
.left-slider__descr {
  margin: 0;
  max-width: 200px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--dark-gray);
  margin-bottom: 30px;
}

.news {
  max-height: 440px;
  padding-right: 15px;
}
.news__top {
  margin-top: 22px;
  margin-bottom: 24px;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 2px solid var(--light-gray);
  border-bottom: 2px solid var(--light-gray);
}
.news__title {
  margin: 0;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-gray);
}
.news__item {
  margin-bottom: 24px;
}
.news__time {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #787878;
}
.news__post {
  display: block;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--dark-gray);
}

.main-news__digital {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 60px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: -o-linear-gradient(196.68deg, #0082FF 17.81%, #00ADFF 58.03%, #00D1FF 86.48%);
  background: linear-gradient(253.32deg, #0082FF 17.81%, #00ADFF 58.03%, #00D1FF 86.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
}
.main-news__article {
  border-bottom: 2px solid #000;
  margin-bottom: 34px;
}
.main-news__article:nth-child(3) {
  margin-bottom: 63px;
}
.main-news__title {
  margin: 0;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--very-dark-gray);
  margin-bottom: 7px;
}
.main-news__title-right {
  margin-bottom: 53px;
}
.main-news__post {
  margin: 0;
  display: block;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--very-dark-gray);
  margin-bottom: 46px;
}
.main-news__descr-title {
  margin: 0;
  padding-top: 23px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--very-dark-gray);
  margin-bottom: 44px;
}
.main-news__descr-title span {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--very-dark-gray);
}
.main-news__worlds {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: -o-linear-gradient(197.99deg, #0082FF 37.74%, #00D1FF 79.73%);
  background: linear-gradient(252.01deg, #0082FF 37.74%, #00D1FF 79.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
}
.main-news__worlds:nth-child(3) {
  padding-bottom: 101px;
}

.main-news__digital-hidden {
  visibility: hidden;
}

.structure {
  color: var(--light-color);
}
.structure__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 296px 1fr;
  grid-template-columns: 296px 1fr;
}
.structure__right {
  background-image: url("../img/bg_img.png");
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.structure__title {
  margin: 0;
  padding: 48px 32px 53px 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
.structure__subtitle {
  margin: 0;
  padding: 0px 32px 14px 75px;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
  text-transform: uppercase;
}
.structure__descr {
  margin: 0;
  padding: 0px 32px 42px 75px;
  max-width: 689px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
}
.structure__list {
  margin: 0;
  padding: 0px 32px 14px 120px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 23px;
  line-height: 36px;
}
.structure__status {
  margin: 0;
  padding: 0px 32px 0px 75px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
}
.structure__img-bootom {
  height: 400px;
  background-image: url("../img/president.png");
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 296px 1fr;
  grid-template-columns: 296px 1fr;
}
.banner__right {
  background-color: var(--dark-color);
  color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner__img {
  background-image: url("../img/president.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 70px 70px 0px 70px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.banner__descr {
  max-width: 900px;
  padding: 70px 80px 70px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.banner__svg {
  color: #fff;
}
.banner__name {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding: 0px 70px 0px 70px;
}
.banner__name span {
  display: block;
  font-weight: 400;
}

.history {
  color: var(--very-dark-gray);
}
.history__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 296px 1fr;
  grid-template-columns: 296px 1fr;
}
.history__title {
  padding: 50px 32px 87px 32px;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
.history__right {
  background-color: #FCFCFC;
}
.history__events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.history__img-box {
  margin: 0px 25px 0px 20px;
}
.history__descr {
  margin: 0;
  max-width: 658px;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  margin-bottom: 103px;
}
.history__descr:nth-child(1) {
  max-width: 270px;
  margin-bottom: 75px;
}
.history__descr:nth-child(6) {
  margin-bottom: 65px;
}
.history__yers {
  text-align: right;
  margin: 0;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  margin-bottom: 95px;
}
.history__yers:nth-child(1) {
  margin-bottom: 100px;
}
.history__yers:nth-child(2) {
  margin-bottom: 170px;
}
.history__yers:nth-child(6) {
  margin-bottom: 135px;
}
.history__box-hidden {
  display: none;
}
.history__yers-hidden {
  margin: 0;
  padding: 0px 10px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
}
.history__descr-hidden {
  margin: 0;
  padding: 0px 10px 20px 10px;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
}

.fclub__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 296px 1fr;
  grid-template-columns: 296px 1fr;
}
.fclub__right {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding-bottom: 356px;
}
.fclub__title {
  margin: 0;
  padding: 52px 32px 141px 32px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
.fclub__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (180px)[3];
  grid-template-rows: repeat(3, 180px);
  background-image: url("../img/svg/tree.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.fclub__item {
  padding: 60px 0px 60px 0px;
  font-size: 23px;
  line-height: 36px;
  max-width: 286px;
  text-align: center;
  position: relative;
}
.fclub__item::before {
  position: absolute;
  content: url("../img/svg/cerclse.svg");
  top: -18px;
  left: 100px;
  z-index: 0;
}
.fclub__item:nth-child(1) {
  margin-left: 101px;
}
.fclub__item:nth-child(4) {
  margin-left: 101px;
  margin-top: 55px;
}
.fclub__item:nth-child(5) {
  margin-top: 55px;
}
.fclub__item:nth-child(6) {
  margin-top: 55px;
}
.fclub__item:nth-child(7) {
  margin-left: 101px;
  margin-top: 130px;
}
.fclub__item:nth-child(8) {
  margin-top: 130px;
}
.fclub__item:nth-child(9) {
  margin-top: 130px;
}
.fclub__img {
  position: absolute;
  top: 5px;
  left: 123px;
}
.fclub__btn {
  height: 32px;
  border-radius: 4px;
  padding: 4px 16px;
  background: #0082FF;
  color: var(--light-color);
  border-radius: 4px;
  position: relative;
  top: 276px;
  left: 38%;
  cursor: pointer;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 296px 1fr;
  grid-template-columns: 296px 1fr;
}
.about__right {
  background-color: #FCFCFC;
}
.about__title {
  margin: 0;
  padding: 53px 32px 109px 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--dark-gray);
}
.about__percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
}
.about__item {
  margin: 0;
  padding: 0px 52px;
  font-weight: 700;
  font-size: 73px;
  line-height: 44px;
  color: var(--very-dark-gray);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  margin-bottom: 80px;
}
.about__item span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
}
.about__item-blue {
  margin: 0;
  font-weight: 700;
  font-size: 73px;
  line-height: 50px;
  background: -o-linear-gradient(187.43deg, #5A88FF 44.23%, #00C2FF 82.71%);
  background: linear-gradient(262.57deg, #5A88FF 44.23%, #00C2FF 82.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 80px;
  position: relative;
}
.about__item-blue span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: #00D1FF;
}
.about__cercle {
  margin-right: 60px;
}
.about__cercle-item {
  margin: 0;
  width: 101px;
  height: 101px;
  border-radius: 100%;
  background-color: var(--very-dark-gray);
}
.about__cercle-item:nth-child(1) {
  background-image: url("../img/svg/O69.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about__cercle-item:last-child {
  background-color: transparent;
  background-image: url("../img/svg/O100.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about__cercle-item:not(:last-child) {
  margin-bottom: 66px;
}
.about__cercle-item-center {
  margin: 0;
  width: 101px;
  height: 101px;
  border-radius: 100%;
  background-color: var(--very-dark-gray);
  margin-bottom: 66px;
  background-image: url("../img/svg/O055.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about__bottom {
  margin-bottom: 98px;
}
.about__bootom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__bottom-item {
  position: relative;
}
.about__bottom-item::before {
  position: absolute;
  content: url("../img/svg/icon1.svg");
  top: -20px;
  left: 40px;
}
.about__bottom-item2 {
  position: relative;
}
.about__bottom-item2::before {
  position: absolute;
  content: url("../img/svg/icon2.svg");
  top: -20px;
  left: 40px;
}
.about__bottom-item3 {
  position: relative;
}
.about__bottom-item3::before {
  position: absolute;
  content: url("../img/svg/icon3.svg");
  top: -20px;
  left: 40px;
}
.about__bottom-item4 {
  position: relative;
}
.about__bottom-item4::before {
  position: absolute;
  content: url("../img/svg/icon4.svg");
  top: -20px;
  left: 40px;
}
.about__bottom-descr {
  margin: 0;
  max-width: 237px;
  font-size: 23px;
  line-height: 36px;
}
.about__btn {
  margin-left: 40%;
  border-radius: 4px;
  padding: 4px 16px;
  height: 32px;
  background: #0082FF;
  color: var(--light-color);
  margin-bottom: 50px;
}

.fedback__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 296px 1fr;
  grid-template-columns: 296px 1fr;
}
.fedback__slider {
  width: 1093px;
}
.fedback__right {
  background-color: #FCFCFC;
}
.fedback__title {
  margin: 0;
  padding: 10px 32px 49px 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--dark-gray);
}
.fedback__pogination {
  display: none;
}
.fedback .swiper {
  padding-bottom: 43px;
}
.fedback .swiper-wrapper {
  padding: 0px 20px;
}
.fedback .swiper-button-prev.fedback__btn-prev {
  top: 60px;
  left: -160px;
  height: 81px;
  width: 29px;
  background-image: url("../img/svg/arr_prev.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fedback .swiper-button-next.fedback__btn-next {
  position: absolute;
  top: 60px;
  right: 60px;
  height: 81px;
  width: 29px;
  background-image: url("../img/svg/arr_next.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fedback__img-box {
  width: 428px;
  height: 344px;
}
.fedback__img-box img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 296px 1fr;
  grid-template-columns: 296px 1fr;
}
.footer__right {
  background-color: #101010;
  color: var(--light-color);
}
.footer__nav {
  padding: 40px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.footer__list {
  display: block;
  padding-bottom: 20px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__item-bold {
  padding: 0px 0px 32px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.footer__item {
  padding: 0px 0px 16px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #989898;
}
.footer__item span {
  color: #0082FF;
}
.footer__item-about {
  border-radius: 4px;
  max-width: 352px;
  background: #2D2D2D;
  padding: 4px 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  height: 32px;
}
.footer__item-about span {
  color: #0082FF;
  padding-right: 8px;
}
.footer__input {
  border-radius: 4px;
  border: 1px solid #2D2D2D;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #787878;
  height: 48px;
  max-width: 352px;
  background-color: transparent;
  margin-bottom: 16px;
}
.footer__checkbox-container {
  max-width: 352px;
  border-radius: 4px;
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #232323;
}
.footer__checkbox {
  margin-left: 100px;
}
.footer__descr-box {
  background: #181716;
  padding: 40px 24px;
}
.footer__descr {
  margin: 0;
  padding: 0px 0px 20px 0px;
  max-width: 627px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #989898;
}
.footer__descr span {
  color: #0082FF;
}
.footer__descr-bottom {
  margin: 0;
  max-width: 627px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #989898;
}
.footer .custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .custom-checkbox__content {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #989898;
}
.footer .custom-checkbox:not(:last-child) {
  padding-bottom: 24px;
}
.footer .img__title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--light-color);
}
/*# sourceMappingURL=main.css.map */