.about{
  &__container{
    display: grid;
    grid-template-columns: 296px 1fr;
  }
  &__right{
    background-color: #FCFCFC;
  }
  &__title{
    margin: 0;
    padding: 53px 32px 109px 32px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--dark-gray);
   }
   &__percent{
    display: flex;
    margin-bottom: 140px;
   }
   &__item{
    margin: 0;
    padding: 0px 52px;
    font-weight: 700;
    font-size: 73px;
    line-height: 44px;
    color: var(--very-dark-gray);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    margin-bottom: 80px;

    span{
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 44px;
    }
   }
   &__item-blue{
    margin: 0;
    font-weight: 700;
    font-size: 73px;
    line-height: 50px;
    background: linear-gradient(262.57deg, #5A88FF 44.23%, #00C2FF 82.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     margin-bottom: 80px;
     position: relative;

    span{
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 44px;
      color: #00D1FF;

    }
   }
   &__cercle{
    margin-right: 60px;
   }
   &__cercle-item{
    margin: 0;
    width: 101px;
    height: 101px;
    border-radius: 100%;
    background-color: var(--very-dark-gray);
    &:nth-child(1){
      background-image:url('../img/svg/O69.svg') ;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
     &:last-child{
      background-color: transparent;
      background-image:url('../img/svg/O100.svg') ;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:not(:last-child){
      margin-bottom: 66px;
    }

   }
   &__cercle-item-center{
    margin: 0;
    width: 101px;
    height: 101px;
    border-radius: 100%;
    background-color: var(--very-dark-gray);
    margin-bottom: 66px;
    background-image: url('../img/svg/O055.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
   }
   &__bottom{
    margin-bottom: 98px;
   }
   &__bootom-list{
    display: flex;
    justify-content: space-around;
   }
   &__list{
    display: flex;
   }
   &__bottom-item{
    position: relative;
    &::before{
      position: absolute;
      content: url('../img/svg/icon1.svg');
      top:-20px;
      left: 40px;
    }
   }
    &__bottom-item2{
    position: relative;
    &::before{
      position: absolute;
      content: url('../img/svg/icon2.svg');
      top:-20px;
      left: 40px;
    }
   }
    &__bottom-item3{
    position: relative;
    &::before{
      position: absolute;
      content: url('../img/svg/icon3.svg');
      top:-20px;
      left: 40px;
    }
   }
    &__bottom-item4{
    position: relative;
    &::before{
      position: absolute;
      content: url('../img/svg/icon4.svg');
      top:-20px;
      left: 40px;
    }
   }
   &__bottom-descr{
    margin: 0;
    max-width: 237px;
    font-size: 23px;
    line-height: 36px;
   }
   &__btn{
    margin-left: 40%;
    border-radius: 4px;
    padding: 4px 16px;
    height: 32px;
    background: #0082FF;
    color: var(--light-color);
    margin-bottom: 50px;
   }
}
