.banner{
  &__container{
    display: grid;
    grid-template-columns: 296px 1fr;
  }
  &__right{
   background-color: var(--dark-color);
   color: var(--light-color);
   display: flex;
  }
    &__img {
    background-image: url('../img/president.png');
    background-size: cover;
    background-repeat: no-repeat;
		background-position: center;
    margin: 70px 70px 0px 70px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    }
  &__descr{
    // position: relative;
    max-width: 900px;
    padding: 70px 80px 70px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    // &::before{
    //   position: absolute;
    //   content: url('../img/svg/quotes.svg');
    //   width: 10px;
    //   height: 10px;
    //   top: 0;
    //   left: 0;
    // }
  }
  &__svg{
    color: #fff;
  }
  &__name{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 0px 70px 0px 70px;

    span{
      display: block;
      font-weight: 400;
    }
  }

}
