.fclub{
  &__container{
    display: grid;
    grid-template-columns: 296px 1fr;
  }

  &__right{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding-bottom: 356px;

  }
  &__title{
    margin: 0;
    padding: 52px 32px 141px 32px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 180px);
    background-image: url('../img/svg/tree.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &__item{
    padding: 60px 0px 60px 0px;
    font-size: 23px;
    line-height: 36px;
    max-width: 286px;
    text-align: center;
    position: relative;
    &::before {
        position: absolute;
        content: url('../img/svg/cerclse.svg');
        top: -18px;
        left: 100px;
        z-index: 0;
      }
      &:nth-child(1){
        margin-left: 101px;
      }
       &:nth-child(4){
        margin-left: 101px;
        margin-top: 55px;
      }
     &:nth-child(5){
        margin-top: 55px;
      }
       &:nth-child(6){
        margin-top: 55px;
      }
       &:nth-child(7){
        margin-left: 101px;
        margin-top: 130px;
      }
       &:nth-child(8){
        margin-top: 130px;
      }
       &:nth-child(9){
        margin-top: 130px;
      }
  }
  &__img{
    position: absolute;
    top: 5px;
    left: 123px;
  }
  &__btn{
    height: 32px;
    border-radius: 4px;
    padding: 4px 16px;
    background: #0082FF;
    color: var(--light-color);
    border-radius: 4px;
    position: relative;
    top: 276px;
    left: 38%;
    cursor: pointer;
  }

}
