.header{
  // position: fixed;
  z-index: 100;
  width: 100%;
  background: var(--dark-color);
  padding: 12px;
  color: var(--light-color);

  &__container{
    display: flex;
    align-items: center;
  }
  &__logo{
    margin-right: 179px;
    img {
     margin-right: -5px;
      }
  }
     &__btn-hidden {
       display: none;
       margin-left: auto;
       margin-right: 30px;
       font-weight: 400;
       font-size: 14px;
       line-height: 24px;
       color: var(--light-color);

     }
}
