

@include big-desktop{

  .header__logo {
      margin-right: 20px !important;
    }
   .nav__btn{
    margin-left: 20px !important;
   }
   .nav__item{
     &:not(:last-child){
      margin-right: 15px !important;
    }
   }
   .hero__container{
    grid-template-columns: 1fr !important;
   }
   .hero__left{
    display: none;
   }

  .hero__right-img{
    display: none;
  }
  .hero__title-box{
    grid-template-columns: 1fr !important;
  }
  .structure__container{
    grid-template-columns: 1fr !important
  }

  .structure__left{
    display: none !important;
  }
  .banner__container{
      grid-template-columns: 1fr !important;
  }
  .history__container{
      grid-template-columns: 1fr !important;
  }
  .history__left{
    display:none;
  }
  .fclub__container{
    grid-template-columns: 1fr !important;
  }
  .fclub__left{
    display: none;
  }
  .fclub__item{
    font-size: 16px !important;
  }
  .about__left{
    display: none;
  }
  .about__container{
    grid-template-columns: 1fr !important;
  }
  .about__percent{
    flex-direction: column-reverse;
    align-items: left;
  }
  .fedback__left{
    display: none;
  }
  .fedback__container{
    grid-template-columns: 1fr !important;
  }
  .footer__left{
    display: none;
  }
  .footer__container{
    grid-template-columns: 1fr !important;
  }



}
@include tablet-big {

  .fedback__slider {
    width: 800px !important;
  }
}

@include  tablet{
   .stop-scroll{
      overflow: hidden;
     }
  .burger {
      display: block;
    }
   .nav{
     position: fixed;
     border-radius: 4px;
     right: 0;
     top: 48px;
     z-index: 10;
     width: 40%;
     max-width: 260px;
     overflow: auto;
     background-color: var(--dark-color);
     transform: translateX(100%);
     transition: transform 0.6s ease-in-out;
    }
    .nav__visible {
    transform: none;
    }
    .nav__list{
      flex-direction: column;
      align-items: flex-start !important;
    }
    .nav__btn-header{
      display: none;
    }
    .header__btn-hidden{
      display: block !important;
    }

    .nav__item-header{
      padding-bottom: 30px;
    }
    .nav__btn-header{
      display: none !important;
    }
  .footer__nav{
    display:block !important;
  }
  .fclub__title{
    padding: 30px 10px !important;
    font-size: 22px;
    line-height: 32px;
  }
  .fclub__img{
    display: none;
  }
  .fclub__list{
    display: block !important;
    background-image: none !important;
    list-style:  disc inside!important;

  }
  .fclub__item{
    margin: 0 !important;
    text-align: left !important;
    max-width: none !important;
     padding: 0px 10px 10px 10px !important;
    &::before{
      display: none;
    }
  }
    .fclub__btn {
      top: 126px !important;
      margin-left: -10% !important;
    }
    .fclub__right{
      padding-bottom: 180px !important;
    }

}

@include small-desktops{
  .container {
      padding: 0;
    }

  .hero{
    padding-top: 0 !important;
  }
  .hero__right-content{
    display:block !important;
  }
  .hero__btn{
    margin-left: 30% !important;
  }
  .history__img-box{
    display: none;
  }
  .histiry__yers-box{
    display: none;
  }
  .history__descr-box{
    display: none;
  }
  .history__box-hidden{
    display: block !important;
  }
  .history__title{
    padding: 32px 10px !important;
    font-size: 22px !important;
    line-height: 32px !important;
  }
}
@include small-tablet{
  .banner__right{
    flex-direction: column;
    align-items: center;
  }
  .banner__descr{
    padding: 30px 45px 57px 45px !important;
  }
  .about__title{
    font-size: 22px !important;
    padding: 30px 10px 25px 10px !important;
  }
  .about__percent{
    margin-bottom: 40px !important;
    border-bottom: 1px solid #949597;
  }
  .about__item{
    font-size: 44px !important;
    margin-bottom: 70px !important;
    padding: 0px 10px 16px 10px !important;
    span{
      font-size: 12px !important;
      // padding:0 10px;
      line-height: 15px !important;
    }
  }
  .about__item-blue{
    font-size: 40px !important;
    line-height: 44px !important;
    margin-bottom: 70px !important;
    span {
        font-size: 12px !important;
        padding: 0 10px;
        line-height: 15px !important;
      }
  }
  .about__item{
    padding: 0 !important;
    padding-left: 10px !important;
  }
  .about__cercle{
    margin-right: 10px !important;
  }
  .about__cercle-item{
    width: 68px !important;
    height: 68px !important;
  }
  .about__cercle-item-center{
     width: 68px !important;
    height: 68px !important;
  }
  .about__bootom-list{
    flex-direction:column;
  align-items: baseline !important;
  }
  .about__bottom-descr{
    display: inline-block;
    line-height: 26px !important;

  }
  .about__bottom-item{
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  .about__bottom-item2{
    display: flex;
    align-items: center;
  }
  .about__bottom-item3{
    display: flex;
    align-items: center;
  }
  .about__bottom-item4{
    display: flex;
    align-items: center;
  }
  .about__bottom-img{
    padding: 0px 50px 50px 0px;
  }
  .about__btn{
    margin-left: 30% !important;
  }
   .fedback__slider {
      width: 420px !important;
    }
}

@include mobile{
    .hero__banner{
  min-height: 285px;
  padding: 12px 35px !important;
  margin-bottom: 44px;
}
  .hero__banner-img{
  min-height: 270px;
}
  .hero__title-box{
  padding: 0px 10px;
}
  .hero__subtitle{
    margin-bottom: 39px !important;
}
  .hero__right-content{
  padding: 0 !important;
}
  .hero__title {
    font-size: 22px !important;
    padding: 0px !important;
  }
 .hero__subtitle{
  font-size: 22px !important;
  padding-left: 0 !important;
 }
 .main-news__post{
  font-size: 20px !important;
 }
 .main-news__digital{
  overflow: hidden !important;
 }
 .main-news__descr-title{
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-size: 17px;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #949597 !important;
 }
 .main-news__digital-visible{
  display: none;
 }
 .main-news__digital-hidden{

  visibility: visible !important;
 }
 .main-news__article{
  margin-bottom: 23px;
  border-bottom: 1px solid #D9D9D9 !important;
 }
 .main-news__worlds{
  padding-bottom: 0px !important;
 }
  .structure__title{
    font-size: 22px;
    padding: 19px 10px 32px 10px !important;
  }
  .structure__subtitle{
    font-size: 16px;
     padding: 0px 10px 32px 10px !important;
  }
  .structure__subtitle-hidden{
    display: none;
  }
  .structure__descr{
    font-size: 16px;
    padding: 0px 10px 0px 10px !important;
  }
  .structure__list{
    font-size: 16px;
    padding: 0px 10px 32px 40px !important;
  }
  .fedback__img-box{
    width: 360px !important;
    height: 344px;
     }
    .fedback__slider {
      width: 360px !important;
    }
    .fedback__btn{
      display: none;
    }
    .fedback__banner{
      margin: 0;
      min-height: 285px;
      padding: 12px 35px !important;
      margin-bottom: 44px;
    }
}

