.nav{
    display: flex;
    align-items: center;

  &__list{
    margin: 0;
    padding: 0;
    padding: 20px;
  }
&__item-header{
  margin-bottom: 20px;
}


  &__list{
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }
  &__item{
    &:not(:last-child){
      margin-right: 28px;
    }
  }
  &__btn{
    border-radius: 4px;
    height: 32px;
    margin-left: 142px;
    padding: 4px 16px;
    background: #0082FF;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--light-color);
    cursor: pointer;

  }
}


