.structure{
  color: var(--light-color);
  &__container{
    display: grid;
    grid-template-columns: 296px 1fr;
  }
  &__right{
    background-image: url('../img/bg_img.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
		background-position: center;

  }
  // &__left{
  //   display: none;
  // }
  &__title{
    margin: 0;
    padding: 48px 32px 53px 32px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  &__subtitle{
    margin: 0;
    padding: 0px 32px 14px 75px;
    font-weight: 700;
    font-size: 26px;
    line-height: 44px;
    text-transform: uppercase;
  }

  &__descr{
    margin: 0;
    padding: 0px 32px 42px 75px;
    max-width: 689px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
  }
  &__list{
    margin: 0;
    padding: 0px 32px 14px 120px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;
  }
  &__status{
    margin: 0;
    padding: 0px 32px 0px 75px;
     font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
  }

  &__img-bootom{
    height: 400px;
    background-image: url('../img/president.png');
    object-fit: cover;
    background-repeat: no-repeat;
		background-position: center;
  }
}
