<section class="about">
  <div class="container about__container">
    <div class="about__left"></div>
    <div class="about__right">
      <div class="about__title">Аудитория</div>
      <div class="about__percent">
        <div class="about__list">
          <div class="about__item-box">
            <p class="about__item">
              31% <span>женщин</span>
            </p>
            <p class="about__item">
              45% <span>имеют высокий
                доход</span>
            </p>
          </div>
          <div class="about__cercle">
            <div class="about__cercle-item"></div>
            <div class="about__cercle-item-center"></div>
            <div class="about__cercle-item"></div>
          </div>
          <div class="about__item-box">
            <p class="about__item-blue">>
              69% <span>мужчин</span>
            </p>
            <p class="about__item-blue">
              55% <span>имеют сверхвысокий
                доход</span>
            </p>
            <p class="about__item-blue">
              100% <span>жители крупных
                городов</span>
            </p>
          </div>

        </div>

        <div class="about__item-box">
          <p class="about__item">
            250+<span>Резидентов клуба</span>
          </p>
          <p class="about__item">
            35 -55 лет<span>средний возраст резидентовд</span>
          </p>
          <p class="about__item">
            ₽ 500 млн.<span>годовой оборот бизнеса членов клуба</span>
          </p>
        </div>
      </div>
      <div class="about__bottom">
        <ul class="list-reset about__bootom-list">
          <li class="about__bottom-item">
            <img class="about__bottom-img" src="img/svg/O100.svg" alt="Диаграмма в форме круга">
            <p class="about__bottom-descr">владельцы бизнеса</p>
          </li>
          <li class="about__bottom-item2">
            <img class="about__bottom-img" src="img/svg/O100.svg" alt="Диаграмма в форме круга">
            <p class="about__bottom-descr">топ-менеджмент
              крупных компаний</p>
          </li>
          <li class="about__bottom-item3">
            <img class="about__bottom-img" src="img/svg/O100.svg" alt="Диаграмма в форме круга">
            <p class="about__bottom-descr">участники <br>
              рейтингов Forbes</p>
          </li>
          <li class="about__bottom-item4">
            <img class="about__bottom-img" src="img/svg/O100.svg" alt="Диаграмма в форме круга">
            <p class="about__bottom-descr">частные инвесторы</p>
          </li>
        </ul>
      </div>
      <button class="btn-reset about__btn">Вступить в клуб</button>
    </div>
  </div>
</section>
