<section class="banner">
  <div class="container banner__container">
    <div class="banner__left"></div>
    <div class="banner__right">
      <div class="banner__inner">
        <div class="banner__img"></div>
        <p class="banner__name">Дмитрий Озман
          <span>Президент F CLUB</span>
        </p>
      </div>
      <div class="banner__descr">
        «F Club уже много лет собирает вместе одних из лучших представителей бизнес-среды России.
        Визионеры, лидеры отраслей, топ-менеджеры компаний с высоким потенциалом развития.
        Каждого из вас объединяют одни и те же жизненные принципы и стремления.
        Наша задача — дать уникальные возможности предпринимателям: получать профессиональную
        экспертизу, находить партнеров и друзей среди «своих», обсуждать волнующие темы с умными
        и интересными людьми. Нам важно стать инструментом, который поможет российскому бизнесу
        расти. Увеличивать капитал, благоприятно влиять на мир и создавать такую деловую среду,
        где ее участники не конкурируют, а объединяются для достижения общих целей».
      </div>
    </div>
  </div>
</section>
