<section class="fclub">
  <div class="container fclub__container">
    <div class="fclub__left"></div>
    <div class="fclub__right">
      <h3 class="fclub__title">Быть частью F CLUB сегодня означает</h3>
      <ul class="fclub__list list-reset">
        <li class="fclub__item">
          <img class="fclub__img" src="img/svg/Ellipse.svg" alt="Шар" >
          Развивать личный бренд
        </li>
        <li class="fclub__item"><img class="fclub__img" src="img/svg/Ellipse.svg" alt="Шар">
          Быть частью закрытого сообщества успешных предпринимателей</li>
        <li class="fclub__item"><img class="fclub__img" src="img/svg/Ellipse.svg" alt="Шар">
          Повышать узнаваемость
          и статус своей компании</li>
        <li class="fclub__item"><img class="fclub__img" src="img/svg/Ellipse.svg" alt="Шар">
          Получать поддержку вашего бизнеса
          от участников сообщества</li>
        <li class="fclub__item"><img class="fclub__img" src="img/svg/Ellipse.svg" alt="Шар">
          Быть в курсе актуальной повестки и получать ответы
          от ведущих экспертов</li>
        <li class="fclub__item"><img class="fclub__img" src="img/svg/Ellipse.svg" alt="Шар">
          Расширять деловые связи
          и вести прямой диалог
          с первыми лицами крупнейших российских и иностранных компаний</li>
        <li class="fclub__item"><img class="fclub__img" src="img/svg/Ellipse.svg" alt="Шар">
          Высказывать свои идеи
          и обмениваться опытом
          в компании успешных предпринимателей</li>
        <li class="fclub__item"><img class="fclub__img" src="img/svg/Ellipse.svg" alt="Шар">
          Принимать участие
          в статусных мероприятиях
          со звездными
          cпикерами
          и авторитетными экспертами
        </li>
        <li class="fclub__item"><img class="fclub__img" src="img/svg/Ellipse.svg" alt="Шар">
          Задавать вопросы
          и получать ответы
          от лучших бизнес-умов</li>
      </ul>
      <button class="fclub__btn">Вступить в клуб</button>
    </div>
  </div>

</section>
