<section class="fedback">
  <div class="container fedback__container">
    <div class="fedback__left"></div>
    <div class="fedback__right">
      <div class="fedback__title">Отзывы резидентов</div>
      <div class="swiper fedback__slider">
        <div class="swiper-wrapper left-slider">
          <div class="swiper-slide">
            <div class="fedback__img-box">
              <img src="img/fedback2.png" alt="Отзыв клиента" class="fedback__slide-img">
            </div>
          </div>
          <div class="swiper-slide">
          <div class="fedback__img-box">
            <img src="img/fedback2.png" alt="Отзыв клиента" class="fedback__slide-img">
          </div>
          </div>
          <div class="swiper-slide">
          <div class="fedback__img-box">
            <img src="img/fedback2.png" alt="Отзыв клиента" class="fedback__slide-img">
          </div>
          </div>
          <div class="swiper-slide">
            <div class="fedback__img-box">
              <img src="img/fedback2.png" alt="Отзыв клиента" class="fedback__slide-img">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="fedback__img-box">
              <img src="img/fedback2.png" alt="Отзыв клиента" class="fedback__slide-img">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="fedback__img-box">
              <img src="img/fedback2.png" alt="Отзыв клиента" class="fedback__slide-img">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="fedback__img-box">
              <img src="img/fedback2.png" alt="Отзыв клиента" class="fedback__slide-img">
            </div>
          </div>
        </div>
        <div class="slider-pagination-box">
          <div class="swiper-pagination fedback__pogination"></div>
          <div class="swiper-button-prev fedback__btn-prev"></div>
          <div class="swiper-button-next fedback__btn-next"></div>
        </div>
      </div>
      <button class="btn-reset about__btn fedback__btn">Вступить в клуб</button>
      <!-- <div class="hero__banner fedback__banner">
        <span class="img__title">AD</span>
        <img class="hero__banner-img" src="img/banner.png" alt="Баннер">
      </div> -->
    </div>
  </div>
</section>
