<footer class="footer">
  <div class="container footer__container">
    <div class="footer__left"></div>
    <div class="footer__right">
      <div class="hero__banner">
        <span class="img__title">AD</span>
        <img class="hero__banner-img" src="img/banner.png" alt="Баннер">
      </div>
      <nav class="nav footer__nav" title="">
        <ul class="nav__list footer__list list-reset">
          <li class="nav__item footer__item-bold"><a href="#" class="nav__link ">Информация:</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">Контактная информация</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">Правида обработки</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">Реклама в журнале</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">Реклама на сайте</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">Условия перепечатки</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link"> <span>Подписка</span> </a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link"><span>Свежий номер</span> </a></li>
        </ul>
        <ul class="nav__list footer__list list-reset">
          <li class="nav__item footer__item-bold"><a href="#" class="nav__link ">Мы в соцсетях:</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">Telegram</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">Instagram <span>*</span></a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">ВКонтакте</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">Flipboard</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">YouTube</a></li>
          <li class="nav__item footer__item"><a href="#" class="nav__link">Facebook <span>*</span></a></li>
          <li class="nav__item footer__item-about"><span>*</span>Признана экстремистской в РФ</li>
        </ul>
        <form class="footer__form">
          <span class="footer__item-bold">Расылка:</span>
          <input type="mail" placeholder="Ваша почта" class="input-reset footer__input">
          <div class="footer__checkbox-container">
            <label class="custom-checkbox">
              <span class="custom-checkbox__content">Все сразу</span>
              <input type="checkbox" class="custom-checkbox__field">
            </label>
            <label class="custom-checkbox">
              <span class="custom-checkbox__content">Ежедневная</span>
              <input type="checkbox" class="custom-checkbox__field">
            </label>
            <label class="custom-checkbox">
              <span class="custom-checkbox__content">Еженедельная</span>
              <input type="checkbox" class="custom-checkbox__field" checked>
            </label>
            <label class="custom-checkbox">
              <span class="custom-checkbox__content">Конференции</span>
              <input type="checkbox" class="custom-checkbox__field">
            </label>
          </div>
        </form>
      </nav>
      <div class="footer__descr-box">
      <p class="footer__descr">
        Наименование издания:
        <a href="https://www.forbes.ru" target="_blank"><span>forbes.ru</span> </a>
      </p>
      <p class="footer__descr">
        Cетевое издание <span>«forbes.ru»</span>  зарегистрировано Федеральной службой по надзору в сфере связи, информационных
        технологий
        и
        массовых коммуникаций, регистрационный номер и дата принятия решения о регистрации: серия Эл № ФС77-82431 от 23
        декабря
        2021 г.
      </p>
      <p class="footer__descr">
        Адрес редакции, издателя: 123022, г. Москва, ул. Звенигородская 2-я, д. 13, стр. 15, эт. 4, пом. X, ком. 1
      </p>
      <p class="footer__descr">
        Адрес редакции: 123022, г. Москва, ул. Звенигородская 2-я, д. 13, стр. 15, эт. 4, пом. X, ком. 1
      </p>
      <p class="footer__descr">Главный редактор: Мазурин Николай Дмитриевич</p>
      <p class="footer__descr">Аадрес электронной почты редакции:
        <span>press-release@forbes.ru</span>
        </p>
      <p class="footer__descr">Номер телефона редакции:
        <a href="tel:+7(495)5653206">
          <span>+7 (495) 565-32-06</span></a>
      </p>


       <p class="footer__descr-bottom">
        Перепечатка материалов и использование их в любой форме, в том числе и в электронных СМИ, возможны только с
        письменного
        разрешения редакции. Товарный знак Forbes является исключительной собственностью Forbes Media LLC. Все права
        защищены.
       </p>
      </div>

    </div>

  </div>
</footer>
