<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img src="img/svg/logo.svg" alt="Логотип">
      <img src="img/svg/logo1.svg" alt="Логотип">
      <img src="img/svg/logo2.svg" alt="Логотип">
      <img src="img/svg/logo3.svg" alt="Логотип">
      <img src="img/svg/logo4.svg" alt="Логотип">
    </a>
    <nav class="nav" data-nav>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">О клубе</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Резиденты</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Экспертное мнение</a></li>
        <li class="nav__item"><a href="#" class="nav__link"></a>Мероприятия</li>
        <li class="nav__item"><a href="#" class="nav__link"></a>Эксперты</li>
        <li class="nav__item"><a href="#" class="nav__link"></a>Новости партнеров</li>
        <li class="nav__item"><a href="#" class="nav__link"></a>Партнеры</li>
      </ul>
    </nav>
    <button class="btn-reset nav__btn nav__btn-header">Вступить в клуб</button>
    <button class="btn-reset header__btn-hidden">Войти</button>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
