<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <div class="swiper">
        <div class="swiper-wrapper left-slider">
          <div class="swiper-slide">
            <h2 class="left-slider__title">IPQouromn Voice</h2>
            <p class="left-slider__descr">Как перестать хамить и верить фейкам: пять шагов к цифровой грамотности

            </p>

          </div>
          <div class="swiper-slide">
            <h2 class="left-slider__title">IPQouromn Voice</h2>
            <p class="left-slider__descr">Как перестать хамить и верить фейкам: пять шагов к цифровой грамотности</p>

          </div>
          <div class="swiper-slide">
            <h2 class="left-slider__title">IPQouromn Voice</h2>
            <p class="left-slider__descr">Как перестать хамить и верить фейкам: пять шагов к цифровой грамотности</p>
          </div>
          <div class="swiper-slide">
            <h2 class="left-slider__title">IPQouromn Voice</h2>
            <p class="left-slider__descr">Как перестать хамить и верить фейкам: пять шагов к цифровой грамотности</p>
          </div>
          <div class="swiper-slide">
            <h2 class="left-slider__title">IPQouromn Voice</h2>
            <p class="left-slider__descr">Как перестать хамить и верить фейкам: пять шагов к цифровой грамотности</p>
          </div>
        </div>
        <div class="slider-pagination-box">
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

      <div class="hero__news news" data-simplebar>
        <div class="news__top">
          <h3 class="news__title">Новости</h3>
          <span class="news__time">20.10.2020</span>
        </div>
        <div class="hero__scroll">
          <ul class="list-reset news__list">
            <li class="news__item">
              <article class="news__article">
                <time class="news__time">08:38</time>
                <a href="#" class="news__post">«Кто хочет тусоваться, тот придет»: как московские бары регистрируют
                  гостей
                  по QR-кодам</a>
              </article>
            </li>
            <li class="news__item">
              <article class="news__article">
                <time class="news__time">08:38</time>
                <a href="#" class="news__post">«Кто хочет тусоваться, тот придет»: как московские бары регистрируют
                  гостей
                  по QR-кодам</a>
              </article>
            </li>
            <li class="news__item">
              <article class="news__article">
                <time class="news__time">08:38</time>
                <a href="#" class="news__post">«Кто хочет тусоваться, тот придет»: как московские бары регистрируют
                  гостей
                  по QR-кодам</a>
              </article>
            </li>
            <li class="news__item">
              <article class="news__article">
                <time class="news__time">08:38</time>
                <a href="#" class="news__post">«Кто хочет тусоваться, тот придет»: как московские бары регистрируют
                  гостей
                  по QR-кодам</a>
              </article>
            </li>
            <li class="news__item">
              <article class="news__article">
                <time class="news__time">08:38</time>
                <a href="#" class="news__post">«Кто хочет тусоваться, тот придет»: как московские бары регистрируют
                  гостей
                  по QR-кодам</a>
              </article>
            </li>
            <li class="news__item">
              <article class="news__article">
                <time class="news__time">08:38</time>
                <a href="#" class="news__post">«Кто хочет тусоваться, тот придет»: как московские бары регистрируют
                  гостей
                  по QR-кодам</a>
              </article>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero__left-img">
        <span class="hero__img-name">AD</span>
        <img src="img/bg_left.png" alt="Картинка">
      </div>
    </div>
    <div class="hero__right">
      <div class="hero__banner">
        <span class="img__title">AD</span>
        <img class="hero__banner-img" src="img/banner.png" alt="Баннер">
      </div>
      <div class="hero__title-box">
        <div class="hero__title-inner">
          <h1 class="hero__title">F Club сегодня -не просто бизнес -сообщество, а экосистема для эффективного
            нетворкинга и усиления личного бренда.</h1>
          <div class="hero__subtitle">360° градусов</div>
          <div class="hero__right-content">
            <ul class="list-reset hero__main-news">
              <li class="main-news__item">
                <article class="main-news__article">
                  <h3 class="main-news__title">Журнал</h3>
                  <a href="#" class="main-news__post">Публикация интервью,
                    колонок членов клуба,
                    аналитики и новостей
                    бизнеса</a>
                  <div class="main-news__descr">
                    <p class="main-news__descr-title">тираж</p>
                    <span class="main-news__digital">70000</span>
                    <p class="main-news__worlds">экземпляров</p>
                  </div>
                  <div class="main-news__descr">
                    <p class="main-news__descr-title">аудитория</p>
                    <span class="main-news__digital">> 1 МЛН</span>
                    <p class="main-news__worlds">читателей</p>
                  </div>
                </article>
              </li>
              <li class="main-news__item">
                <article class="main-news__article">
                  <h3 class="main-news__title">DIGITAL</h3>
                  <a href="#" class="main-news__post">Размещение колонок
                    членов клуба и новостей
                    на сайте</a>
                  <div class="main-news__descr">
                    <span class="main-news__digital main-news__digital-visible">FCLUB.PRO</span>
                    <span class="main-news__digital main-news__digital-hidden">FCLUB.P</span>
                    <p class="main-news__descr-title">охват <span>>20 000</span><br>
                      прочтений</p>
                  </div>
                </article>
              </li>
            </ul>
            <ul class="list-reset hero__main-news">
               <li class="main-news__item">
                <article class="main-news__article">
                  <h3 class="main-news__title main-news__title-right">multimedia</h3>
                  <div class="main-news__descr">
                    <span class="main-news__digital">30+</span>
                    <p class="main-news__worlds">видеопроектов в год</p>
                  </div>
                  <a href="#" class="main-news__post">Самые интересные
                    и актуальные
                    бизнес-истории
                    на YouTube-канале клуба
                  </a>
                </article>
              </li>
              <li class="main-news__item">
                <article class="main-news__article">
                  <h3 class="main-news__title main-news__title-right">мероприятия</h3>
                  <div class="main-news__descr">
                    <span class="main-news__digital">30+</span>
                    <p class="main-news__worlds">Событий в год</p>
                  </div>
                  <a href="#" class="main-news__post">офлайн
                    и онлайн
                  </a>
                </article>
              </li>
              <li class="main-news__item">
                <article class="main-news__article">
                  <h3 class="main-news__title">социальные сети</h3>
                  <a href="#" class="main-news__post">публикация материалов
                    в социальных сетях
                  </a>
                  <div class="main-news__descr">
                    <p class="main-news__descr-title">охват</p>
                    <span class="main-news__digital">> 4 МЛН</span>
                    <p class="main-news__worlds">подписчиков</p>
                  </div>
                </article>
              </li>
            </ul>
          </div>
          <button class="btn-reset hero__btn">Вступить в клуб</button>
        </div>

        <div class="hero__right-img">
          <span class="img__title">AD</span>
          <img src="img/bg_right.png" alt="Картинка">
        </div>
      </div>


    </div>
  </div>
</section>
