<section class="history">
  <div class="container history__container">
    <div class="history__left"></div>
    <div class="history__right">
      <h3 class="history__title">История клуба</h3>
      <div class="history__events">
        <div class="histiry__yers-box">
          <p class="history__yers">2012</p>
          <p class="history__yers">2012-2018</p>
          <p class="history__yers">2017</p>
          <p class="history__yers">2018</p>
          <p class="history__yers">2020</p>
          <p class="history__yers">2021</p>
          <p class="history__yers">2022</p>
        </div>
        <div class="history__img-box">
          <img src="img/svg/rope.svg" alt="Древо событий" class="history__img">
        </div>
        <div class="history__descr-box">
          <p class="history__descr">Первое мероприятие Forbes Club</p>
          <p class="history__descr">Регулярные встречи с лауреатами рейтинга «200 богатейших бизнесменов России» и
            представителями государственной власти в
            рамках направления Forbes Club «Миллиардеры»</p>
          <p class="history__descr">Открытие направления Forbes Woman Club</p>
          <p class="history__descr">Формирование сообщества предпринимателей Forbes Club</p>
          <p class="history__descr">Открытие направления Forbes Club «30 до 30»</p>
          <p class="history__descr">Открытие дополнительных тематических направлений - «Финансы», «Предметный разговор»,
            Legal, Lifestyle, Travel, Media,
            ESG</p>
          <p class="history__descr">Ребрендинг клуба, открытие направления Coin, выпуск журнала
            F Club, запуск проекта F CLUB «Полезный вторник»</p>
        </div>
        <div class="history__box-hidden">
          <p class="history__yers-hidden">2012</p>
          <p class="history__descr-hidden">Первое мероприятие Forbes Club</p>
          <p class="history__yers-hidden">2012-2018</p>
          <p class="history__descr-hidden">Регулярные встречи с лауреатами рейтинга «200 богатейших бизнесменов России»
            и
            представителями государственной власти в
            рамках направления Forbes Club «Миллиардеры»</p>
          <p class="history__yers-hidden">2017</p>
          <p class="history__descr-hidden">Открытие направления Forbes Woman Club</p>
          <p class="history__yers-hidden">2018</p>
          <p class="history__descr-hidden">Формирование сообщества предпринимателей Forbes Club</p>
          <p class="history__yers-hidden">2020</p>
          <p class="history__descr-hidden">Открытие направления Forbes Club «30 до 30»</p>
          <p class="history__yers-hidden">2021</p>
          <p class="history__descr-hidden">Открытие дополнительных тематических направлений - «Финансы», «Предметный
            разговор»,
            Legal, Lifestyle, Travel, Media,
            ESG</p>
          <p class="history__yers-hidden">2022</p>
          <p class="history__descr-hidden">Ребрендинг клуба, открытие направления Coin, выпуск журнала
            F Club, запуск проекта F CLUB «Полезный вторник»</p>
        </div>

      </div>
    </div>
  </div>
</section>
