<section class="structure">
  <div class="container structure__container">
    <div class="structure__left"></div>
    <div class="structure__right">
      <h3 class="structure__title">Структура клуба</h3>
      <p class="structure__subtitle structure__subtitle-hidden">Попечительский совет</p>
      <p class="structure__descr">Попечительский совет F CLUB сформирован редакцией
        и департаментом развития Forbes Russia. Совет определяет темы клубных встреч и приглашает новых резидентов.</p>
      <p class="structure__subtitle">Участники F CLUB</p>
      <ul class="structure__list">
        <li class="structure__item">«200 богатейших бизнесменов России»</li>
        <li class="structure__item">«30 до 30»</li>
        <li class="structure__item">«20 богатейших self-made женщин России»</li>
        <li class="structure__item">«20 директоров-капиталистов»</li>
      </ul>
      <p class="structure__descr">Предприниматели, оказывающие положительное влияние на развитие бизнеса и общества.
        Представители бизнеса, проходящие процесс верификации службой безопасности и дирекцией F CLUB.</p>
      <p class="structure__status">Три категории членства:</p>
      <ul class="structure__list">
        <li class="structure__item">Silver</li>
        <li class="structure__item">Gold</li>
        <li class="structure__item">Platinum</li>
      </ul>
    </div>

  </div>
</section>
